html {
  font-family: Helvetica;
  text-align: center;
}
h1 {
  color: White;
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
.header,
#rev {
  background-image: url(../images/the-flatiron-building.png);
  background-size: 100%;
}
a {
  color: White;
}
#rev {
  color: White;
}
.footer {
  text-align: left;
  background-color: dimgray;
  color: White;
  font-size: 11px;
}
.nav {
  font-size: 18px;
}
p {
  font-size: 14px;
}
